.popup-edit__close-button {
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    object-fit: cover;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
    padding: 0;
    transition: opacity .3s linear;
}

.popup-edit__close-button:hover {
    opacity: .6;
}
