.profile__edit-button {
    width: 24px;
    height: 24px;
    margin-left: 18px;
    background-color: black;
    background-image: url(../../../images/Edit\ Button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
}