.popup-edit__window {
    background-color: #FFFFFF;
    width: 430px;
    height: 336px;
    display: flex;
    flex-direction: column;
    padding: 34px 36px 37px;
    color: black;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
}
