.profile {
    padding-top: 40px;
    width: 100%;
    max-width: 880px;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 1024px ) {
    .profile {
        padding: 42px 19px;
        flex-direction: column;
        min-height: 286px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px ) {
    .profile {
        min-width: 320px;
        
    }
}