.popup-edit__save-button {
    height: 50px;
    color: white;
    border: none;
    background-color: black;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    transition: opacity .3s linear;
}

.popup-edit__save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 768px ) {
    .popup-edit__save-button {
        height: 50px;
        font-size: 14px;
        line-height: 17px;
    }
}