.header__logo {
    background-image: url(../../../images/logo.svg);
    width: 142px;
    height: 33px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    /* transition: background-image .3s linear; */
    transition: opacity .3s linear;
}

.header__logo:hover {
    /* background-image: url(../../../images/logo\ black.svg); в макете показано, что нужно сделать его черным, но это странно */
    opacity: .7;
}

@media screen and (max-width: 1024px ) {
    .header__logo {
        width: 124px;
        height: 28px;
        margin-left: 27px;
    }
}

@media screen and (max-width: 768px ) {
    .header__logo {  
        width: 104px;

    }
}