.header__logo {
    background-image: url(../../../images/logo.svg);
    width: 142px;
    height: 33px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    transition: background-image .3s linear;
}

.header__logo:hover {
    background-image: url(../../../images/logo\ black.svg);
}