.popup__window {
    background-color: #FFFFFF;
    width: 360px;
    max-height: 265px;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    padding: 34px 36px 37px;
    color: black;
    position: relative;
    border-radius: 10px;
    box-sizing: content-box;
}

@media screen and (max-width: 1024px ) {
    .popup__window {
        width: calc(100% - 36px);
        padding: 25px 22px;
    }
}
