.places__title {
    max-width: 70%;
    margin:0;
    margin-left: 21px;
    margin-top: 25px;
    margin-bottom: 31px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: end;
}