.places__like-button {
    
    min-height: 19px;
    width: 22px;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: opacity .3s linear;
    background-image: url(../../../images/Like.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.places__like-button:hover {
    opacity: .5;
}