.popup-edit__name {
    background: none;
    border: none;
    border-bottom: 1px rgba(0, 0, 0, .2) solid;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    height: 27px;
    box-sizing: border-box;
}