.popup__input {
    height: 27px;
    background: none;
    border: none;
    border-bottom: 1px #00000033  solid;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    box-sizing: border-box;
}


.popup__input:last-of-type {
    margin: 30px 0 48px;
}

@media screen and (max-width: 768px ) {
    .popup__input:last-of-type  {
        margin: 30px 0 45px;
    }
}