.places {
    max-width: 880px;
    padding-top: 51px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(282px,1fr));
    gap: 17px;
}

@media screen and (max-width: 1024px ) {
    .places {
        width: calc(100% - 19px * 2);
        padding-top: 36px;
        gap: 20px;
    }
}